# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend Mentor supplied files
planet-fact-site/

planets-fact-site/planets-fact-site-figma/__MACOSX/planets-fact-site-figma/._README.md
planets-fact-site/planets-fact-site-figma/__MACOSX/planets-fact-site-figma/._planets-fact-site.fig
planets-fact-site/planets-fact-site-figma/planets-fact-site-figma/README.md
planets-fact-site/planets-fact-site-figma/planets-fact-site-figma/planets-fact-site.fig
planets-fact-site/planets-fact-site-figma.zip
