// app colors
$white: rgb(255, 255, 255);
$blackish: rgb(7, 7, 36);
$dark-grey: rgb(56, 56, 79);
$light-grey: rgb(131, 131, 145);


// planet colors
$mercury-blue: rgb(65, 159, 187);
$venus-yellow: rgb(237, 162, 73);
$earth-purple: rgb(109, 46, 213);
$mars-red: rgb(209, 76, 50);
$jupiter-red: rgb(216, 58, 52);
$saturn-orange: rgb(205, 81, 32);
$uranus-teal: rgb(30, 193, 162);
$neptune-blue: rgb(45, 104, 240);
