/*
 * Sets project defaults, globals, media query breakpoints, and app layout
 */

@import "typography.scss";
@import "colors.scss";

// reset browser defaults
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $blackish;
  background-image: url(../img/background-stars.svg);
  background-repeat: repeat;
  color: $white;
  object-fit: cover;
}

/*
 * Device size breakpoints
 * NOTE: no mobile breakpoint because that is the default
 */
@mixin tablet-breakpoint {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin large-desktop-breakpoint {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

// set max-widths for content
.device-widths {
  @include tablet-breakpoint {
    width: 90vw;
  }

  @include desktop-breakpoint {
    width: 80vw;
  }

  @include large-desktop-breakpoint {
    width: 60vw;
  }

  margin: auto;
  width: 100vw;
}
