// much of the font size is set for desktop

$antonio-font: "Antonio", sans-serif;
$spartan-font: "Spartan", sans-serif;

html {
  // rem
  font-size: 14px;
}

@mixin para-p {
  font-family: $spartan-font;
}

@mixin header-1 {
  font-family: $antonio-font;
  text-transform: uppercase;
}

@mixin header-2 {
  font-family: $antonio-font;
}

@mixin header-3 {
  font-family: $spartan-font;
  font-size: 0.86rem;
  font-weight: bold;
  letter-spacing: +2.6px;
  line-height: 1.79rem;
}

@mixin header-4 {
  font-family: $spartan-font;
  font-weight: bold;
}
